.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  position: relative;
}
.home-text {
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  justify-content: center; */
}
.home-text h1 {
  color: #ffdd40;
  font-weight: 500;
  font-size: 8rem;
  line-height: 10rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  animation: typingEffectAnimation 2.5s steps(30, end);
}
@media only screen and (max-width: 550px) {
  .home-text h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
}
@media only screen and (min-width: 551px) and (max-width: 768px) {
  .home-text h1 {
    font-size: 4rem;
    line-height: 6rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 990px) {
  .home-text h1 {
    font-size: 5rem;
    line-height: 8rem;
  }
}
@keyframes typingEffectAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.home-btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
button {
  cursor: pointer;
  border: 1.5px solid #ffdd40;
  border-radius: 4px;
  color: #ffdd40;
  background: transparent;
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 60px;
}
button:hover{
    background-color: black;
}

